.btn__header {
  background-color: transparent;
  border: none;
  margin: 0 20px;
  color: $font-color;
  &:focus {
    outline: none;
  }
  &:hover {
    color: $secondary-color;
    transition: 0.5s all ease;
  }
}

.btn__primary {
  background-color: $secondary-color;
  border: none;
  margin-top: 48px;
  color: #fff;
  transition: 0.5s all ease;
  padding: 12px 38px;
  font-size: 16px;
  text-transform: capitalize;
  color: #fff;
  border-radius: 30px;
  font-weight: 600;
  display: inline-block;
  &:hover {
    color: #fff;
    opacity: 0.8;
    transition: 0.5s all ease;
    transform: translateY(-5px);
  }
}
